/* ===========================
   HERO
=========================== */

.hero{

    padding:80px 0 60px;

    background:
    repeating-linear-gradient(
        to bottom,
        transparent 0px,
        transparent 34px,
        rgba(0,0,255,.05) 35px
    );

    min-height:80vh;

}

.hero-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}

.hero-left{

    flex:1;

}

.hero-icon{

    font-size:3rem;

    color:var(--secondary);

}

.hero h1{

    font-size:4rem;

    line-height:1.1;

    margin:15px 0;

    font-family:"Playfair Display",serif;

}

.hero h1 span{

    color:var(--primary);

}

.hero p{

    margin:30px 0;

    font-size:1.1rem;

    max-width:600px;

    color:#555;

}

.hero-tags{

    display:flex;

    gap:15px;

    flex-wrap:wrap;

}

.hero-tags span{

    background:var(--secondary);

    color:white;

    padding:8px 18px;

    border-radius:50px;

    font-size:.9rem;

}

.hero-right{

    flex:1;

    display:flex;

    justify-content:center;

}

.sticky-note{

    width:340px;

    background:var(--accent);

    padding:30px;

    transform:rotate(-4deg);

    border:2px solid var(--border);

    box-shadow:8px 8px 0 rgba(0,0,0,.12);

    font-size:1.2rem;

    font-family:"Playfair Display",serif;

    text-align:center;

}

@media(max-width:900px){

.hero-content{

    flex-direction:column;

    text-align:center;

}

.hero p{

    margin:auto;
    margin-top:25px;
    margin-bottom:25px;

}

.hero-tags{

    justify-content:center;

}

.hero h1{

    font-size:3rem;

}

}