:root{

    --bg-color:#FFF8E7;
    --paper:#FFFCF5;

    --primary:#C0392B;
    --secondary:#F7A8B8;

    --accent:#FFE66D;

    --text:#2E2E2E;

    --border:#8D8D8D;

    --shadow:0 8px 20px rgba(0,0,0,.08);

    --radius:16px;

    --container:1200px;

}